@tailwind base;
@tailwind components;
@tailwind utilities;

.sb-show-main.sb-main-padded.dark {
    background-color: #ffffff !important;
}

.sb-show-main.sb-main-padded.dark {
    background-color: #333 !important;
}


.dark body {
  text-color: #fff;
}

html{
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

/* 
.storybook-root id is used by the storybook preview iframe to set the background color
*/

body #storybook-root {
  height: 100%;
  width: 100%;
}